<body>
    <!--Be counted-->
    <div class="row marto-4p color-back-text">
        <div class="col-2" style="margin-top: 10px;text-align-last: justify;">Speak out. Be heard <br><span><h5 class="fix-text">Be counted</h5></span></div>
        <div class="col-9" style="margin-top: 14px;">Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It's easy: You share your opinion, we analyze and put the data in a public report.</div>
        <div class="col-1"><img class="img-size"src="/images/close-icon.svg"></img></div>
    </div>
    <h2 class="marto-2p">Votes</h2>
    <div class="row">
        {{#each filterPerson}}
        <div class="col-6 marto-2p">
            <img src="images/{{imgUrl}}" alt="" class="pRela">
            <div class="infoCard">
                <div class="row">
                    <div class="col-1">
                        <img src ="images/like-icon.svg" class="iconStatus">
                    </div>
                    <div class="col-6">
                        <h2 class="text-name" style="color:white">{{name}}</h2>
                        <h6 style="color:white">1 mont ago</h6> <br>
                        <p class="text-description">{{description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <div class="row" style="width: 40% !important;">
                            <form class="size-bt btlikecolor" action="/persons/voteup-person/{{_id}}" method="POST">
                            <button type="submit" class="btlikecolor center-btn"><img style="width: 22px;" src="images/like-icon.svg" alt="like"></button>
                            </form>
                            <form class="size-bt btcolor" action="/persons/votedown-person/{{_id}}" method="POST">
                            <button type="submit" class="btcolor center-btn-dislike"><img style="width: 22px;" class="rotate-btn" src="images/like-icon.svg" alt="dislike"></button>
                            </form>
                            <div class="col-3"><Button class="content-btn">Vote Now</Button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rowEspc">
                <div class="good">{{voteUp}}</div>
                <div class="bad">{{voteDown}}</div>
            </div>
        </div>    
         {{/each}}    
    </div>
   


    <div class="container info">
        <div class="row marto-4p">
        <div class="col-8">
            <h2>
                Is there anyone else you would want us to add?
            </h2>
        </div>
        <div class="col-2"></div>
        <div class="col-2" style="margin: auto; margin-right: inherit;"><button class="sendName">Submit Name</button></div>
    </div>
    </div>
</body>


<style>
    .center-btn{
    margin-left: 8px;
    margin-top: 6px;
    border: thick;
    }

    .rotate-btn{
        -moz-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
    }

    .center-btn-dislike{
    margin-left: 8px;
    margin-top: 6px;
    border: thick;
    -moz-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
    }

    .form-style{
    width: 100%;
    height: 0px;
    margin-right: -120px;
    }
    .sendName{
     background: transparent;
    width: 80%;
    color: black;
    }

    .info{
    background: beige;
    height: auto;
    width: 100%;
    }

    .text-name{
    color: white;
    width: 150%;
    }

    .text-description{
    color: white;
    width: 150%;
    height: auto;
    font-size: 15px;
    }

    .content-btn{
    background: transparent;
    width: 400%;
    height: 40px;
    color: white;
    }

    .size-bt{
    width: 20%;
    height: 40px;
    margin-right: 10px;
    }

  .btlikecolor{
    background-color: #00e3d0 !important;
  }

  .btcolor{
    background-color: #f4ac2c !important;
  }

.iconStatus{
    width: 200%;
    height: 14%;
    margin-top: 6px;
}

.img-size{
    width: 50%;
    height: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.middle-message{
    width: 50%;
    height: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.fix-text{
    font-size: 1.8rem;
}

.color-back-text{
    background-color: #F8F5F5;
    width: 100%;
    height: 80px;
}
}

.rowEspc{
    width: 492px;
    display: flex;
    flex-direction: row;
}

.good{
    width: 50%;
    background-color: #00e3d0 !important;
    opacity: 0.6;
}

.bad{
    width: 50%;
    background-color: #f4ac2c !important;
    opacity: 0.6;
}
.infoCard{
    position: absolute;
    top: 50%;
}
    .marto-2p{
        margin-top: 2%;
    }
    .marto-4p{
        margin-top: 4%;
    }
</style>